#bottomPanel {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 82%;
    width: 100vw;
    box-sizing: border-box;
}

#bottomPanel button {
    color: white;
    border: 3px solid black;
    height: 4em;
    width: 4em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    transition: 0.5s;
}

#bottomPanel button:hover {
    height: 3.8em;
    width: 3.8em;
    transition: 0.5s;
    box-shadow: rgb(252, 252, 252) 0px 1px 10px;
}

#bottomPanel button img {
    width: 50%;
}

#buttonBack {
    margin-right: 1em;
    background-color: red;
}

#buttonRandomize {
    margin-right: 1em;
    background-color: green;
}


#buttonResetAll {
    background-color: blue;
}


#ajuda {
    margin-right: 1em;
    background-color: orange;
}

#subtitle {
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100vw;
    top: 90%
}

